html body {
	font-family: var(--coo-body-font);

	.ant-breadcrumb li:last-child {
		color: var(--coo-primary);
	}

	.ant-steps,
	.ant-input,
	.ant-select,
	.ant-popover,
	.ant-dropdown,
	.ant-dropdown-menu-submenu,
	.ant-layout-sider,
	.ant-collapse,
	.ant-drawer,
	[class*=" ant-avatar"],
	[class^="ant-avatar"],
	[class^="ant-breadcrumb"],
	[class*="ant-breadcrumb"] [class^="ant-dropdown"],
	[class*="ant-dropdown"] [class^="ant-modal"],
	[class^="ant-modal"],
	[class*=" ant-modal"],
	[class^="ant-menu"],
	[class*=" ant-menu"],
	[class^="ant-table"],
	[class*=" ant-table"],
	[class^="ant-radio"],
	[class*=" ant-radio"] {
		font-family: var(--coo-body-font);
	}

	.ant-breadcrumb,
	.ant-breadcrumb .ant-breadcrumb-separator {
		color: var(--coo-fg-black);
	}

	[class^="ant-input"],
	[class*="ant-input"] {
		background-color: transparent;
		border-color: var(--coo-secondary-03);
	}

	ul {
		color: var(--coo-fg-black);
	}


	::selection {
		color: var(--coo-fg-black) !important;
	}

	input::placeholder {
		color: var(--coo-fg-black) !important;
		opacity: .25;
	}
}
